html, body {
    color: white;
    margin: 0;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    background-color: black;
    direction: ltr;
    /* for test */
    /* background-color: rgb(167, 163, 163); */

}

* {
    box-sizing: border-box;
}

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05)), url('../img/netflix-background.jpg');
    height: 100vh;
}

.nfHeader {
    background: 0 0;
    border: 0;
    /* position: absolute;
    z-index: 5;
    width: 100%; */
}

.nfHeader.signupBasicHeader{
    height: 90px;
}

.svg-nfLogo {
    text-decoration: none;
    vertical-align: middle;
    fill: #e50914;
    display: inline-block;
    line-height: 90px;
}

nav img {
    width: 50%;
    height: 45px;
    /* width: 167px;
    height: 45px; */
}

.logo {
    position: absolute;
    display: inline-block;
    line-height: 120px;
    margin-left: 2%;
}

@media(min-width:1250px) {
    .logo {
        /* position: relative; */
        display: inline-block;
        line-height: 120px;
        margin-left: 45%;
    }
}

header nav {
    height: 300px;
}

nav .signin {
    color: white;
    float: right;
    background-color: #e50914;
    line-height: normal;
    margin-top: 25px;
    margin-right: 3%;
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 18px;
    text-decoration: none;
}

.pitch {
    /* margin: 0 3%; */
    position: absolute;
    top: 35%;
    font-size:1.8vw;
    width: 100%;
    text-align: center;
}

.pitch__title {
    font-size: 3em;
    margin: 0 0 0.5em;
    font-weight: 700;
    text-shadow: 1px, 1px, 5px, rgb(0, 0, 0);
}

.pitch__subtitle {
    margin: 0 0 1em;
    letter-spacing: 1.5px;
    font-size: 1.1em;
}

.btn {
    font-size: 1em;
    letter-spacing: 5px;
    font-weight: 400;
    margin: .5em .5em .5em 0;
    padding: 28px 2em;
    color: white;
    background-color: #e50914;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    user-select: none;
    text-align: center;
    border: 0;
}

.btn-large {
    padding: 18px 20px;
}

nav .signin:hover, .btn:hover {
    background-color: #ff000d;
}

#features > nav {
    padding-top: 35px;
    background-color: #141414;
    border-bottom: 2px solid #3d3d3d;
}

#features > nav a {
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    color: #777;
    height: 125px;
    line-height: 20px;
}

#features > nav a:hover {
    color: white;
    /* display: inline; */
}

#features > nav a img {
    height: 49px;
}

#features > nav a h2 {
    margin: 10px 0 0;
    font-size: 1em;
}

.columns {
    display: flex;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.column.is-narrow {
    flex: none;
}

.center {
    margin: 0 auto;
}
.size-90 {
    width: 90%;
}

.size-80 {
    width: 80%;
}

.size-70 {
    width: 70%;
}

.text-center {
    text-align: center;
}

#features > nav a:hover {
    color: white;
}

#features > nav a.is-selected {
    /* selected color at the bottom */
    border-bottom: 5px solid #e50914;
    color: #ffffff;
}

#features > article {
    margin-bottom: 120px;
}

#features > article > section {
    display: none;
    padding: 40px 0;
}

#features > article > section.is-selected {
    display: block;
}

#features > article h2 {
    font-size: 32px;
    font-weight: 400;
    margin: 60px 0 20px;
}

#features img {
    max-width: 100%;
}

#features #watchanywhere h2 {
    font-size: 19px;
    padding-right: 1em;
    margin: 0 0 20px;
}

#features #watchanywhere > div:first-child {
    margin-bottom: 60px;
}

#features #watchanywhere p {
    color: #999;
}